<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- SDK APPID    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
    <add key="APP_ID" value="C6sKL9z4rxm55i2oFrRbM6DAKFzQtqNYDP5N4GsmSDdV"/>

    <!-- //与win64 SDK对应    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
    <add key="SDKKEY64" value="FtdaipLy7yE6xYRiHwTUVpMBiCBRii21wrdV1Jdw4tZL"/>

    <!-- 与win32 SDK对应    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
    <add key="SDKKEY32" value="FtdaipLy7yE6xYRiHwTUVpMBewxAK2VKH8Hydk1nBRHq"/>
  </appSettings>
</configuration>